<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/mindaugas-epoint/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mindaugas-epoint" />
            <add key="ClearTextPassword" value="a186205a3985c20980b032ab0f7870c0685e09ff" />
        </github>
    </packageSourceCredentials>
</configuration>